<script lang="ts">
  import {counter as counterStore, increment, addCount as addCountStore} from './store/store';
  let count: number = 0;
  const clickme = () => {
    addCountStore(3)
  }

  counterStore.subscribe(value => {
    count = value;
  })
</script>

<div class="container d-flex">
  <button type="button" class="btn btn-primary mx-auto" on:click={clickme}>count is {count}</button>
</div>

