<script lang="ts">
    import { Hero } from "../../models/hero";
    import HeroForm from "./heroForm.svelte";
    import HeroesList from "./heroesList.svelte";
    import { createEventDispatcher } from "svelte";
    // import { heroes as heroesStore, addHero } from "../../store/store";

    export let heroes: Hero[] = [];
    const dispatch = createEventDispatcher<{ addhero: Hero }>();

</script>

<div class="container">
    <HeroForm
        on:addhero={(d) => {
            dispatch("addhero", d.detail);
        }}
    />
    <hr />
    <HeroesList
        {heroes}
        on:removehero={(d) => {
            heroes = heroes.filter((h, i) => i !== d.detail);
        }}
    />
    <p>{JSON.stringify(heroes)}</p>
</div>

<!-- {#if hero !== ""}
    <button
        on:click={() => {
            addHero();
        }}>Add Hero</button
    >
{:else}
    <button disabled>Add Hero</button>
{/if} -->

<style>
</style>
