<script lang="ts">
    import type { Hero } from "../../models/hero";
    import { createEventDispatcher } from "svelte";
    // your script goes here
    export let heroes: Hero[] = [];
    const dispatch = createEventDispatcher<{ removehero: number }>();
</script>
<ul class="list-group">
    {#each heroes as hero, index}
        <li class="list-group-item">
            <b>{hero.name}</b>
            <p>{hero.description}</p>
            <button type="button" class="btn btn-danger" on:click={()=>{dispatch("removehero", index)}}>Remove</button>
        </li>
    {/each}
</ul>
<style>
    /* your styles go here */
</style>

<!-- markup (zero or more items) goes here -->