<script lang="ts">
    // your script goes here
    import { Hero } from "../../models/hero";
    import { createEventDispatcher } from "svelte";
    const dispatch = createEventDispatcher<{ addhero: Hero }>();
    let hero = new Hero();

    function addHero() {
        if (hero.name === "") return;
        dispatch("addhero", hero);
        hero = new Hero();
    }
</script>

<div class="mb-3">
    <label for="" class="form-label">Hero Name</label>
    <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
        bind:value={hero.name}
    />
</div>
<div class="mb-3">
    <label for="" class="form-label">Hero Description</label>
    <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
        bind:value={hero.description}
    />
</div>
<button
    type="button"
    class="btn btn-primary"
    on:click={() => {
        addHero();
    }}
    disabled={hero.name === ""}>Add Hero</button
>

<!-- markup (zero or more items) goes here -->

<style>
    /* your styles go here */
</style>
