<script lang="ts">
    import { Hero } from "../../models/hero";
    import { heroes as heroesStore, addHero as addHeroStore} from "../../store/store";
    import Heroes from "./heroes.svelte";

    let heroes: Hero[] = [];
    heroesStore.subscribe((h) => {
        heroes = h;
    });
    function addHero(hero: Hero) {
        addHeroStore(hero);
    }
</script>

<Heroes heroes={heroes} on:addhero={(d)=>{addHero(d.detail)}} />

<style>
    /* your styles go here */
</style>

<!-- markup (zero or more items) goes here -->