<script lang="ts">

    import { CalculatorModel } from "../../models/calculator";
    import Display from "./display.svelte";
    import Keyboard from "./keyboard.svelte";

    let calculatorModel = new CalculatorModel();

    let display = calculatorModel.display;

    function handleClick(value: CustomEvent) {
        if (typeof value.detail === "number") {
            display = calculatorModel.handleNumber(value.detail);
        } else if (typeof value.detail === "string") {
            display = calculatorModel.handleSymbol(value.detail);
        }
    }
    
</script>

<div class="container">
    <div class="calculator">
        <Display myDisplay={display}></Display>
        <Keyboard on:myclick={(d)=>{handleClick(d)}} ></Keyboard>
    </div>
</div>

<style>
    .container {
        text-align: center;
        margin-top: 23px;
    }

    .calculator {
        background-color: #161616;
        padding: 23px;
        border-radius: 53px;
        display: inline-block;
    }
</style>
