<script lang="ts">
    // your script goes here
    export let myDisplay = '';
</script>

<input type="text" name="screen" id="display" value={myDisplay} disabled />

<!-- markup (zero or more items) goes here -->

<style>
    input {
        border-radius: 21px;
        font-size: 34px;
        height: 65px;
        width: 260px;
        scroll-behavior: smooth;
    }

    #display {
        border-radius: 21px;
        background-color: #ffffff;
        font-size: 34px;
        height: 65px;
        width: 260px;
        scroll-behavior: smooth;
    }
</style>
