<script lang="ts">

    // your script goes here
    import { createEventDispatcher } from "svelte";
    const dispatch = createEventDispatcher();

    function handleClick(msg: string | number) {
        dispatch("myclick", msg);
    }
</script>
<table>
    <tr>
        <td
            ><button
                on:click={() => {
                    handleClick(9);
                }}>9</button
            ></td
        >
        <td
            ><button
                on:click={() => {
                    handleClick(8);
                }}>8</button
            ></td
        >
        <td
            ><button
                on:click={() => {
                    handleClick(7);
                }}>7</button
            ></td
        >
        <td
            ><button
                on:click={() => {
                    handleClick("+");
                }}>+</button
            ></td
        >
    </tr>
    <tr>
        <td
            ><button
                on:click={() => {
                    handleClick(6);
                }}>6</button
            ></td
        >
        <td
            ><button
                on:click={() => {
                    handleClick(5);
                }}>5</button
            ></td
        >
        <td
            ><button
                on:click={() => {
                    handleClick(4);
                }}>4</button
            ></td
        >
        <td
            ><button
                on:click={() => {
                    handleClick("-");
                }}>-</button
            ></td
        >
    </tr>
    <tr>
        <td
            ><button
                on:click={() => {
                    handleClick(3);
                }}>3</button
            ></td
        >
        <td
            ><button
                on:click={() => {
                    handleClick(2);
                }}>2</button
            ></td
        >
        <td
            ><button
                on:click={() => {
                    handleClick(1);
                }}>1</button
            ></td
        >
        <td
            ><button
                on:click={() => {
                    handleClick("*");
                }}>X</button
            ></td
        >
    </tr>
    <tr>
        <td
            ><button
                on:click={() => {
                    handleClick("C");
                }}>C</button
            ></td
        >
        <td
            ><button
                on:click={() => {
                    handleClick(0);
                }}>0</button
            ></td
        >
        <td
            ><button
                on:click={() => {
                    handleClick("=");
                }}>=</button
            ></td
        >
        <td
            ><button
                on:click={() => {
                    handleClick("/");
                }}>/</button
            ></td
        >
    </tr>
</table>

<style>
    table {
        margin: auto;
    }

    button {
        border-radius: 20px;
        font-size: 20px;
        background: #ffffff;
        width: 60px;
        height: 50px;
        margin: 6px;
    }
</style>

<!-- markup (zero or more items) goes here -->