<script>
    import * as yup from "yup";

    const schema = yup.object().shape({
        name: yup
            .string("Test")
            .required("First name is required")
            .matches(/^[a-zA-ZñÑáÁéÉíÍóÓúÚçÇüÜ]{3,20}$/, "First name must be alphabetic"),
        age: yup
            .number("Age must be a number")
            .positive("Age must be postive")
            .integer("Age must be an integer")
            .typeError("Age must be a number")
            .min(0, "Age must be greater than 0")
            .max(120, "Age must be less than 120")
            .required("Age is required"),
        email: yup
            .string("Email must be a string")
            .email("Email must be a valid email")
            .required("Email is required"),
        postalCode: yup
            .string("Postal code must be a string")
            .min(5, "Postal code must be 5 characters")
            .max(5, "Postal code must be 5 characters")
            .matches(/^\d+$/, "Postal code must be numeric")
            .required("Postal code is required"),
        telephone: yup
            .string("Telephone must be a string")
            .min(9, "Telephone must be 10 characters")
            .max(10, "Telephone must be 10 characters")
            .matches(/^\d+$/, "Telephone must be numeric")
            .required("Telephone is required"),
    });

    // regex for a name min 3 max 20: /^[a-zA-Z]{3,20}$/

    const form = {
        name: "",
        age: "",
        email: "",
        postalCode: "",
        telephone: "",
    };

    let isValid;
    let errors = {};
    let buttonClass = "btn btn-primary";

    let result;

    $: schema.isValid(form).then((valid) => (isValid = valid));
    $: schema
        .validate(form, { abortEarly: false })
        .then((r) => {
            errors = {};
            result = r;
        })
        .catch((err) => {
            errors = err.inner.reduce((acc, err) => {
                return { ...acc, [err.path]: err.message };
            }, {});
        });

    $: buttonClass = isValid ? "btn btn-primary" : "btn btn-secondary";

    function handleSubmit() {
        console.log("handleSubmit", form);
    }
</script>

<main>
    <div class="container">
        <div class="mb-3">
            <label for="" class="form-label">Name</label>
            <input
                type="text"
                class="form-control"
                name=""
                id=""
                aria-describedby="helpId"
                placeholder="First Name"
                bind:value={form.name}
            />
            <small id="helpId" class="form-text text-muted">Help text</small>
            {#if errors.name}
                <div class="alert alert-danger" role="alert">
                    <strong>Error: </strong>
                    {errors.name}
                </div>
            {/if}
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Age</label>
            <input
                type="number"
                class="form-control"
                name=""
                id=""
                aria-describedby="helpId"
                placeholder="Age"
                bind:value={form.age}
            />
            <small id="helpId" class="form-text text-muted">Help text</small>
            {#if errors.age}
                <div class="alert alert-danger" role="alert">
                    <strong>Error: </strong>
                    {errors.age}
                </div>
            {/if}
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Email</label>
            <input
                type="text"
                class="form-control"
                name=""
                id=""
                aria-describedby="helpId"
                placeholder="Last Name"
                bind:value={form.email}
            />
            <small id="helpId" class="form-text text-muted">Help text</small>
            {#if errors.email}
                <div class="alert alert-danger" role="alert">
                    <strong>Error: </strong>
                    {errors.email}
                </div>
            {/if}
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Postal Code</label>
            <input
                type="number"
                class="form-control"
                name=""
                id=""
                aria-describedby="helpId"
                placeholder="Age"
                bind:value={form.postalCode}
            />
            <small id="helpId" class="form-text text-muted">Help text</small>
            {#if errors.postalCode}
                <div class="alert alert-danger" role="alert">
                    <strong>Error: </strong>
                    {errors.postalCode}
                </div>
            {/if}
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Telephone Number</label>
            <input
                type="number"
                class="form-control"
                name=""
                id=""
                aria-describedby="helpId"
                placeholder="Age"
                bind:value={form.telephone}
            />
            <small id="helpId" class="form-text text-muted">Help text</small>
            {#if errors.telephone}
                <div class="alert alert-danger" role="alert">
                    <strong>Error: </strong>
                    {errors.telephone}
                </div>
            {/if}
        </div>
        <input
            name=""
            id=""
            class={buttonClass}
            type="submit"
            value="Submit"
            disabled={!isValid}
            on:click={handleSubmit}
        />
    </div>
    <!-- <input type="text" placeholder="First Name" bind:value={form.firstName} />
    {#if errors.firstName}
        {errors.firstName}
    {/if}
    <br />
    <input type="text" placeholder="Last Name" bind:value={form.lastName} />
    {#if errors.lastName}
        {errors.lastName}
    {/if}
    <br />
    <input type="number" placeholder="Age" bind:value={form.age} />
    {#if errors.age}
        {errors.age}
    {/if}

    <br />
    <div>Form is valid: {isValid}</div>
    {#if result}
        <div>Result: {JSON.stringify(result)}</div>
    {/if} -->
</main>

<style>
</style>
