<script lang="ts">
    import { onMount } from "svelte";
    import { Beer } from "../../models/beer";
    import RangeSlider from "svelte-range-slider-pips";
    import { beers as beersStore, updateBeersReducer as updateBeers, range as rangeStore, updateRange as updateRangeStore } from "../../store/beers";


    let beers: Beer[] = [];
    let showBeers: Beer[] = [];
    let range = []

    beersStore.subscribe((b) => {
        beers = b;
        // showBeers = beers.filter((b) => b.abv >= range[0] && b.abv <= range[1]); 
    });

    rangeStore.subscribe((r) => {
        range = r;
    });

    function handleChange(e) {
        // console.log(e.detail.values);
        updateRangeStore(e.detail.values);
    }

    onMount(() => {
        updateBeers();
    });

    $: showBeers = beers.filter((b) => b.abv >= range[0] && b.abv <= range[1])

</script>
<div class="container my-5">
    <RangeSlider bind:values={range} float hover={false} pips min={0} max={60} on:change={(e)=>{handleChange(e)}}/>
    <div class="row row-cols-1 row-cols-md-3 mt-5">
        {#each showBeers as mybeer}
             <!-- content here -->
             <div class="col mb-4">
                <div class="card h-100">
                    <img class="card-img-top mx-auto mt-2" src={mybeer.imageUrl} alt="Title" style="width: 70px">
                    <div class="card-body">
                        <h4 class="card-title">{mybeer.name}</h4>
                        <p class="card-text">{mybeer.tagline}</p>
                        <p class="card-text">{mybeer.abv}%</p>
                    </div>
                </div>
            </div>
    
        {/each}
    </div>
</div>
<style>
    /* your styles go here */
</style>

<!-- markup (zero or more items) goes here -->