<script lang="ts">
  import Counter from "./lib/Counter.svelte";
  import Apod from "./lib/components/apod/apod.svelte";
  import Beers from "./lib/components/beers/beers.svelte";
  import Calculator from "./lib/components/calculator/calculator.svelte";
  import HeroesContainer from "./lib/components/heroes/heroesContainer.svelte";
  import FormYup from "./lib/components/form/formYup.svelte";
  import { Router, Link, Route } from "svelte-routing";
</script>

<Router>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">Svelte Samples</a>
      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon" />
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <Link class="nav-link active" to="counter">Counter</Link>
          </li>
          <li class="nav-item">
            <Link class="nav-link active" to="calculator">Calculator</Link>
          </li>
          <li class="nav-item">
            <Link class="nav-link active" to="heroes">Heroes</Link>
          </li>
          <li class="nav-item">
            <Link class="nav-link active" to="apod">Apod</Link>
          </li>
          <li class="nav-item">
            <Link class="nav-link active" to="beers">Beers</Link>
          </li>
          <li class="nav-item">
            <Link class="nav-link active" to="form">Form</Link>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <nav />

  <Route path="/" component={Counter} />
  <Route path="counter" component={Counter} />
  <Route path="calculator" component={Calculator} />
  <Route path="heroes" component={HeroesContainer} />
  <Route path="apod" component={Apod} />
  <Route path="beers" component={Beers} />
  <Route path="form" component={FormYup} />
</Router>

<style>
</style>
