<script>
    import { createEventDispatcher } from 'svelte';
    // your script goes here
    const dispatch = createEventDispatcher();
</script>
<button on:click={()=>{dispatch('myclick', {message: 'Hola mundo'})}}>+</button>
<style>
    /* your styles go here */
</style>

<!-- markup (zero or more items) goes here -->