<script lang="ts">
    import { onMount } from "svelte";
    import Button from "./button.svelte";

    // your script goes here
    let message = 'Hola mundo';
    onMount(()=>{
        console.log('mounted');
        fetch ('https://jsonplaceholder.typicode.com/todos/1')
        .then(response => response.json())
        .then(json => {
            message = json.title;
        })
        
    })
    
    function handleClick(msg: any){
        console.log(msg.detail.message);
        
    }
</script>

<h1>{message}</h1>
<Button on:myclick={handleClick}></Button>

<style>
    /* your styles go here */
</style>

<!-- markup (zero or more items) goes here -->