<script>
    // your script goes here
    import { DateInput } from 'date-picker-svelte'
    import { createEventDispatcher } from 'svelte'
    import moment from 'moment';
    let date = new Date();
    const dispatch = createEventDispatcher();
    // transform date to string format yyyy-mm-dd
    $: dispatch('date', moment(date).format('YYYY-MM-DD'))

</script>
<DateInput bind:value={date} />
<style>
    /* your styles go here */
</style>

<!-- markup (zero or more items) goes here -->