<script lang="ts">
    import { onMount } from "svelte";
    import { Apod } from "../../models/apod";
    import ShowApod from "./showApod.svelte";
    import ApodPicker from "./apodPicker.svelte";

    
    let apod: Apod = new Apod();

    // your script goes here
    onMount(() => {
        console.log("mounted");
        apod = new Apod();
        console.log(apod);
        apod.getApod().then((d) => {
            apod.setData(d);
        });
    });

    // date in string format yyyy-mm-dd
    function updateData(event: any) {
        apod.getApod(event.detail).then((d) => {
        apod.setData(d);
    });
    }

</script>

<div class="container">
    {#if apod === undefined}
        <!-- content here -->
        <div class="alert alert-primary" role="alert">
            <strong>Loading...</strong>
        </div>
    {:else}
        <!-- else content here -->
        <ApodPicker on:date={updateData} />
        <ShowApod apod={apod} />
    {/if}
</div>

<!-- markup (zero or more items) goes here -->

<style>
    /* your styles go here */
</style>
