<script>
    import { Apod } from "../../models/apod";

    // your script goes here
    export let apod = new Apod();
</script>
<div class="row align-items-md-stretch">
    <div class="col-md-12">
        <div
            class="h-100 p-5 text-grey bg-light border rounded-3 d-flex flex-column"
        >
            <h2>{apod.title}</h2>
            {#if apod.isImage()}
                <img class="mx-auto" src={apod.url} alt={apod.title} />
            {:else if apod.isVideo()}
                <h1>is video</h1>
            {:else}
                <h1>is other</h1>
            {/if}
            <p>{apod.explanation}</p>
            <button class="btn btn-outline-primary" type="button"
                >Example button</button
            >
        </div>
    </div>
</div>
<style>
    /* your styles go here */
</style>

<!-- markup (zero or more items) goes here -->